<nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">
        <h2>
          <a href="#">App To Do</a>
        </h2>
      </span>

      <ul class="listUL">
        <li><i class="bi bi-app-indicator"></i><a href="#">{{servicio.contador.completadas}} Completadas</a></li>
        <li class="pendientes"><i class="bi bi-app-indicator"></i><a href="#">{{servicio.contador.pendientes}} Pendientes</a></li>
        <li class="eliminadas"><i class="bi bi-app-indicator"></i><a href="#">{{servicio.contador.eliminadas}} Eliminadas</a></li>
      </ul>
      
      <div class="d-flex justify-content-end mt-0">
        <i class="bi bi-person-lines-fill"></i>
      </div>
    </div>
</nav>
